body {
  background: #f5a9e4;
  font-family: sans-serif;
}

.card {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  margin: 16px auto;
}

.pizza {
  margin-bottom: 10px;
  display: block;
  color: #ff10cb;
}

.paella {
  margin-bottom: 10px;
  display: block;
  color: #ff10cb;
}

.nachos {
  color: #ff10cb;
}

.title {
  font-size: 40px;
  margin-top: 1px;
  padding: 5px;
}
